services:
  postgres:
    container_name: postgres-linker
    image: postgres:latest
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: linker
    ports:
      - "5432:5432"
    restart: always
  redis:
    image: redis
    command: redis-server
    ports:
      - "6379:6379"
  minio:
    image: minio/minio
    container_name: minio-linker
    environment:
      - MINIO_ROOT_USER=admin
      - MINIO_ROOT_PASSWORD=linkeradmin
    networks:
      mynet:
        aliases:
          - my-localhost
    volumes:
      - minio_data:/data
    ports:
      - "9000:9000"
      - "9001:9001"
    command: server /data --console-address ":9001"
    restart: always
networks:
  mynet:
    driver: bridge
volumes:
  minio_data:
    driver: local
